{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class= 'flex justify-center'>
  <div>
    <div id="myBoard" style="width: 500px; margin:0;"></div>
    <label>Status:</label>
    <div id="status"></div>
    <label>FEN:</label>
    <div id="fen"></div>
    <label >PGN:</label>
    <div id="pgn" class='block w-24 whitespace-normal break-words' style ='word-wrap: break-word; width : 500px;'></div>
    <label >UCI:</label>
    <div id="uci" class='block w-24 whitespace-normal break-words' style ='word-wrap: break-word; width : 500px;'></div>
    <button id="setStartBtn">Start Position</button>
    <button id="setresetBtn">Reset Position</button>
    <button id="whiteOrientationBtn">White orientation</button>
    <button id="blackOrientationBtn">Black orientation</button>
  </div>
  <div>
    <table id="myTable"  class ='pl-16'>
      <thead>
        <tr>
          <th>Move</th>
          <th>Name</th>
          <th>WDL</th>
          <th>Centipawn</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
{% endblock content %}

{% block script %}
<script defer>
// NOTE: this example uses the chess.js library:
// https://github.com/jhlywa/chess.js

// NOTE: this example uses the chess.js library:
// https://github.com/jhlywa/chess.js

var board = null
var game = new Chess()
var whiteSquareGrey = '#a9a9a9'
var blackSquareGrey = '#696969'
var $status = $('#status')
var $fen = $('#fen')
var $pgn = $('#pgn')
var $uci = $('#uci')

$(document).ready(function() {
    console.log('start')
    $.ajax({
      type: "GET",
      url: "/api/opening?move=start",
      dataType: "json",
      error: function() {
        console.log('통신실패!!');
      },
      success: function(data) {
        console.log(data)
        for (var key in data) {
          var row = '<tr>';
          if (data[key]['Move'] == null){
            row += '<td>' + key + '</td>';
          } else {
            row += '<td>' + data[key]['Move'] + '</td>';
          }
          if (data[key]['name'] == null){
            row += '<td>' + key + '</td>';
          } else {
            row += '<td>' + data[key]['name'] + '</td>';
          }
          
          row += '<td>' + data[key]['wdl'] + '</td>';
          row += '<td>' + data[key]['centipawn'] + '</td>';
          row += '</tr>';
          $('#myTable tbody').append(row);
        }
      }
    });
  });


function removeGreySquares () {
  $('#myBoard .square-55d63').css('background', '')
}

function greySquare (square) {
  var $square = $('#myBoard .square-' + square)

  var background = whiteSquareGrey
  if ($square.hasClass('black-3c85d')) {
    background = blackSquareGrey
  }

  $square.css('background', background)
}

function onDragStart (source, piece) {
  // do not pick up pieces if the game is over
  if (game.isGameOver()) return false

  // or if it's not that side's turn
  if ((game.turn() === 'w' && piece.search(/^b/) !== -1) ||
      (game.turn() === 'b' && piece.search(/^w/) !== -1)) {
    return false
  }
}

function onDrop (source, target) {
  removeGreySquares()
  var nota = '';

  // see if the move is legal
  var move = game.move({
    from: source,
    to: target,
     // NOTE: always promote to a queen for example simplicity
  })
  nota = source + target
  // illegal move
  if (move === null) {
      var move = game.move({
      from: source,
      to: target,
      promotion: 'q' // NOTE: always promote to a queen for example simplicity
    })
    nota = source + target + 'q'
  }
  if (move === null) return 'snapback'

  var cur = $uci.html()
  if (cur) {
    $uci.html(cur+','+nota)
  } else {
    $uci.html(nota)
  }
  

  $.ajax({
      type: "GET",
      url: "/api/opening?move=" + $uci.html(),
      dataType: "json",
      error: function() {
        console.log('통신실패!!');
      },
      success: function(data) {
        console.log(data)
        $('#myTable tbody').empty();
        for (var key in data) {
          var row = '<tr>';
          if (data[key]['Move'] == null){
            row += '<td>' + key + '</td>';
          } else {
            row += '<td>' + data[key]['Move'] + '</td>';
          }
          if (data[key]['name'] == null){
            row += '<td>' + key + '</td>';
          } else {
            row += '<td>' + data[key]['name'] + '</td>';
          }
          
          row += '<td>' + data[key]['wdl'] + '</td>';
          row += '<td>' + data[key]['centipawn'] + '</td>';
          row += '</tr>';
          $('#myTable tbody').append(row);
        }
      }
    });

  updateStatus ()
}

function onMouseoverSquare (square, piece) {
  // get list of possible moves for this square
  var moves = game.moves({
    square: square,
    verbose: true
  })

  // exit if there are no moves available for this square
  if (moves.length === 0) return

  // highlight the square they moused over
  greySquare(square)

  // highlight the possible squares for this piece
  for (var i = 0; i < moves.length; i++) {
    greySquare(moves[i].to)
  }
}

function onMouseoutSquare (square, piece) {
  removeGreySquares()
}

function onSnapEnd () {
  board.position(game.fen())
}

function updateStatus () {
  var status = ''

  var moveColor = 'White'
  if (game.turn() === 'b') {
    moveColor = 'Black'
  }

  // checkmate?
  if (game.isCheckmate()) {
    status = 'Game over, ' + moveColor + ' is in checkmate.'
  }

  // draw?
  else if (game.isDraw()) {
    status = 'Game over, drawn position'
  }

  // game still on
  else {
    status = moveColor + ' to move'

    // check?
    if (game.isCheck()) {
      status += ', ' + moveColor + ' is in check'
    }
  }

  $status.html(status)
  $fen.html(game.fen())
  $pgn.html(game.pgn())
}

var config = {
  draggable: true,
  position: 'start',
  onDragStart: onDragStart,
  onDrop: onDrop,
  onMouseoutSquare: onMouseoutSquare,
  onMouseoverSquare: onMouseoverSquare,
  onSnapEnd: onSnapEnd
}
board = Chessboard('myBoard', config)

$('#setStartBtn').on('click', board.start)
$('#setresetBtn').on('click', function(){
  game.reset()
  $.ajax({
      type: "GET",
      url: "/api/get_data?a=default",
      dataType: "json",
      error: function() {
        console.log('통신실패!!');
      },
      success: function(data) {
        $('#myTable tbody').empty()
        for (var key in data) {
          var row = '<tr>';
          if (data[key]['Move'] == null){
            row += '<td>' + key + '</td>';
          } else {
            row += '<td>' + data[key]['Move'] + '</td>';
          }
          if (data[key]['name'] == null){
            row += '<td>' + key + '</td>';
          } else {
            row += '<td>' + data[key]['name'] + '</td>';
          }
          
          row += '<td>' + data[key]['wdl'] + '</td>';
          row += '<td>' + data[key]['centipawn'] + '</td>';
          row += '</tr>';
          $('#myTable tbody').append(row);
        }
      }
    });
  $pgn.empty()
  $uci.empty()
})

$('#whiteOrientationBtn').on('click', function () {
  board.orientation('white')
})

$('#blackOrientationBtn').on('click', function () {
  board.orientation('black')
})
updateStatus ()
</script>
{% endblock script %}